.has-error input,
.has-error select,
.has-error textarea {
    border: 1px solid red;
}
svg.w-5.h-5 {
    width: 50px;
}
nav > .justify-between {
    display: none;
}
nav > div > div {
    float: left;
}
nav > div > div:nth-child(2) {
    float: right;
}
